*{
    margin: 0;
    padding: 0;
  }
body{
        font-family: Verdana, Georgia, 'Times New Roman', Tahoma, 'sans-serif';
        width: 100%;
        margin: 0;
        position: absolute;
        background-color: ghostwhite;
 }
.header-container{
    background-color: ghostwhite;
    box-shadow: 0 0 0.5rem rgb(173, 188, 215);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0,5rem 1rem;
    font-size: 1vw;
    font-weight: 600;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    z-index: 1;
 }
.header-menubar ul{
    margin: 0%;
    padding: 0%;
    float: right;
    list-style: none;
}
.header-menubar ul li {
    text-align: center;
    float: left;
    width: 6.5rem;
    font-size: 1rem;
    color: #364f6b;
}
.header-menubar ul li a {
    display: block;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-decoration: none;
 }
 .header-menubar ul li a:hover {
    color: #2fbbb2;
	text-decoration: none;
 }

main{
    margin-top: 5rem; 
    width: 100%;
}
main h2{
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #364f6b;
}
.descripcion-pcipal{
    width: auto;
    padding: 5rem;
    position: relative;
    border-top: 2,5rem;
    text-align: center;
    font-size: 1rem;
    color: #364f6b
}
.grid-tratamientos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 0%;
    position: relative;
    top: 2.5rem;
}
.grid-tratamientos .articulos {
    border: 10px;
    padding: 20px;
    font-size: 0.75rem;
    display: flex;
    text-align: center;
    position: relative;
    width:fit-content;
    line-height: 1.4vw;
    color: #364f6b
 }
.articulos h3 {
    font-size: 3vh;
    justify-content: center;
}
.articulos p {
    font-size: 0.75rem;
    justify-content: center;
}
.img-trat{
     display: block;
     background-size: contain;
     padding:0.15rem;
}
.footer{
    width: 100%;
    display: flex;
    background-color: rgb(165, 165, 182);
    height: 50vh;
    text-align: center;
    font-weight: 100;
    box-shadow: 0 0 0.5rem rgb(173, 188, 215);
    padding: 2rem;
    justify-content:space-around;
}
.footer-right ul li {
  display: inline;  
  list-style: none;
  padding: 10%;   
}
.footer-left {
    display: block;  
    list-style: none;
    padding: 2.5% 8%;   
}
.icono {
   background-size: contain;
   width: 10%;
}
@media (max-width: 600px) {
    .grid-tratamientos{
        width: 100%;
        padding: 5rem;
        display: inline;
        box-sizing: content-box;
        position: relative;
        top: 2.5rem;
    }
    .articulos {
        border: 1vh;
        padding: 0.1vh;
        font-size: 0,5vw;
        text-align: center;
        position: relative;
        width:fit-content;
        line-height: 1.5rem;
        background: border-box;
        box-shadow: 0 0 0.5rem rgb(173, 188, 215);
     }	
     .img-trat{
        display: block;
        background-size:contain;
        width: 5%;
    }
     .articulos h3 {
       font-size: 3vh;
       justify-content: center;
     }
    .articulos p {
      font-size: 0,5vh;
      justify-content: center;
    }
    .footer{
        width: 100%;
        background-color: rgb(165, 165, 182);
        height: 50vh;
        text-align: center;
        font-weight: 100;
        box-shadow: 0 0 0.5rem rgb(173, 188, 215);
        padding: 2rem;
    }
      .footer-left {
       box-sizing: content-box;  
    }
    .footer-right ul li {
      display: inline;  
      list-style: none;
      padding: 10%;   
    }
  
    .icono {
       background-size: contain;
       width: 10%;
    }
}
.preguntas-container {    
    max-width: 800px;
    margin: 50px auto 0 auto;
    padding: 2rem;
  }
.preguntas-container h2 {
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #364f6b;
  }
  details { 
    background-color: #f6f8fa;
    width: 100%;
    margin-bottom: 1rem;   
    border-radius: 8px;  
    border: 1px solid #d8e0e9;
    color: #364f6b;
    position: relative;  
  }
  details summary {  
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    list-style: none;
  }
  details p {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background: #f6f8fa;
    border-left: 2px solid #364f6b;
  }
  
  details:hover,
  details[open] {
    box-shadow: 5px 5px 15px #d9d9d9;
  }
  
  details[open] {
    background: #ffffff;
  }
  
  details[open] summary {
    font-weight: 600;
  }
  
  details summary::before {
    position: absolute;
      content: "➤";    
      font-size: 1.75rem;
      top: 10px;
      right: 16px;  
  }
  
  details[open] summary::before {
    -webkit-animation: rotate 0.6s ease-in-out both;
            animation: rotate-emoji 0.6s ease-in-out both;
  }
  
  @-webkit-keyframes rotate-emoji {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
