*{
    margin: 0;
    padding: 0;
  }
body{
        font-family: Verdana, Georgia, 'Times New Roman', Tahoma, 'sans-serif';
        width: 100%;
        margin: 0;
        position: absolute;
        background-color: ghostwhite;
 }

 @charset "utf-8";
 /* CSS Document */
 :root{
  --color:#dce2e8;
     --fnd : rgb(127, 127, 138);
     --fndRsp: rgb(206, 156, 156);
     --colorRsp: rgb(165, 165, 182);
      }

 .cajaNav{
     font-family: sans-serif;
     display:flex;
     justify-content: space-between;
     background:rgb(165, 165, 182);
     color: var(--color);
     width: 100%;
     position: fixed;
     top:0;
     left: 0%;
     z-index: 1;
     t;
     }

 .cajaNav .barNav{
     margin:0 10px 0 0;
     }

 .cajaNav .titNav{
     display:flex;
     justify-content:space-between;
     align-items:center;
     flex: 1;
     background:rgb(165, 165, 182);
     color:var(--color);
     height:auto;
     } 

 .cajaNav .titNav .toggle{
     display:none;
     }

 .cajaNav .titNav .logo{
     margin: 10px 10px;
      }

  .cajaNav .barNav {
     display:flex;
     list-style:none;
     align-items: center;
     padding:0;
     }

 .cajaNav .barNav li{
     display:flex;
     align-items:center;
     padding: 0 20px ;
     height:100%; 
 }

 .cajaNav .barNav li:hover{
     background: var(--color);
     color:var(--fnd);
     cursor: pointer;
     }

 .cajaNav .barNav li a{
     text-decoration: none;
     cursor: pointer;
     color:inherit;
 }

 @media (max-width: 576px){
     .cajaNav{
         flex-direction: column;
         align-items:flex-end;
         background: unset;
         }
     .cajaNav .barNav{
         color:rgb(243, 243, 245);
         box-shadow: 0 0 0.5rem rgb(173, 188, 215);
         background-color: rgb(165, 165, 182);
         flex-direction:column;
         z-index: 2000;
           } 
     .cajaNav .barNav li {
         padding: 10px 20px;
         }
     .cajaNav .barNav li:hover{
         background: var(--fnd);
         color: var(--color);
         } 
     .cajaNav .titNav{
         width: 100%;
         align-items:center;
         }
     .cajaNav .titNav .toggle{
         display:block;
         margin-right:10px;
         cursor:pointer
         }
     
     .abierto{display:flex !important}
     .cerrado{display:none !important}
     }
     
.descripcion-pcipal{
    width: auto;
    padding: 5rem;
    position: relative;
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
    color: #364f6b
   }
.grid-tratamientos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 5%%;
    position: relative;
    top: 2.5rem;
}
.grid-tratamientos .articulos {
    border: 10px;
    padding: 20px;
    font-size: 0.9rem;
    display: flex;
    text-align: center;
    position: relative;
    width:fit-content;
    line-height: 1rem;
    color: #364f6b
 }
.articulos h3 {
    font-size: 3vh;
    justify-content: center;
}
.articulos p {
    font-size: 0.75rem;
    justify-content: center;
}
.img-trat{
     display: block;
     background-size: contain;
     padding:0.15rem;
}

.formulario {
  width: 500px;
  max-width: 800%;
  margin:5% auto 5% auto;
  padding: 3rem;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
  position: relative;
 }

.formulario__titulo {
  text-align: center;
  margin-top: 0;
  color: rgba(0,0,0,0.7);
}

.menu-contacto ul {
    text-decoration: none;
    cursor: pointer;
    color:inherit;
}

.footer{
    width: 100%;
    display: flex;
    background-color: rgb(165, 165, 182);
    height: 50vh;
    text-align: center;
    font-weight: 100;
    box-shadow: 0 0 0.5rem rgb(173, 188, 215);
    padding: 2rem;
    justify-content:space-around;
}
.footer-right ul li {
  display: inline;  
  list-style: none;
  padding: 10%;   
}
.footer-left {
    display: block;  
    list-style: none;
    padding: 2.5% 8%;   
}
.icono {
   background-size: contain;
   width: 10%;
}
@media (max-width: 600px) {
    .grid-tratamientos{
        width: 100%;
        padding: 5rem;
        display: inline;
        box-sizing:content-box
        top: 2.5rem; 
        position: relative;
    }
    .articulos {
        border: 1vh;
        padding: 0.1vh;
        text-align: center;
        position: relative;
        width:fit-content;
        background: border-box;
        box-shadow: 0 0 0.5rem rgb(173, 188, 215);
     }	
     .img-trat{
        display: none;
        background-size:cover;
        width: 5%;
    }
     .articulos h3 {
       font-size: 3vh;
       justify-content: center;
     }
    .articulos p {
      font-size: 0,5vh;
      justify-content: center;
    }
    .footer{
        width: 100%;
        background-color: rgb(165, 165, 182);
        height: 50vh;
        text-align: center;
        font-weight: 100;
        box-shadow: 0 0 0.5rem rgb(173, 188, 215);
        padding: 2rem;
    }
      .footer-left {
       box-sizing: content-box;  
    }
    .footer-right ul li {
      display: inline;  
      list-style: none;
      padding: 10%;   
    }
  
    .icono {
       background-size: contain;
       width: 10%;
    }
}
.preguntas-container {    
    max-width: 800px;
    margin: 50px auto 0 auto;
    padding: 2rem;
  }
.preguntas-container h2 {
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #364f6b;
  }
  details { 
    background-color: #f6f8fa;
    width: 100%;
    margin-bottom: 1rem;   
    border-radius: 8px;  
    border: 1px solid #d8e0e9;
    color: #364f6b;
    position: relative;  
  }
  details summary {  
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    list-style: none;
  }
  details p {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background: #f6f8fa;
    border-left: 2px solid #364f6b;
  }
  
  details:hover,
  details[open] {
    box-shadow: 5px 5px 15px #d9d9d9;
  }
  
  details[open] {
    background: #ffffff;
  }
  
  details[open] summary {
    font-weight: 600;
  }
  
  details summary::before {
    position: absolute;
      content: "➤";    
      font-size: 1.75rem;
      top: 10px;
      right: 16px;  
  }
  
  details[open] summary::before {
    -webkit-animation: rotate 0.6s ease-in-out both;
            animation: rotate-emoji 0.6s ease-in-out both;
  }
  
  @-webkit-keyframes rotate-emoji {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
