*{
    margin: 0;
    padding: 0;
  }
body{
       font-family: Verdana, Georgia, 'Times New Roman', Tahoma, 'sans-serif';
        width: 100%;
        margin: 0;
        position: absolute;
 }
.header-container{
    background-color: ghostwhite;
    box-shadow: 0 0 0.5rem rgb(173, 188, 215);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0,5rem 1rem;
    font-size: 1vw;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    z-index: 1;
 }
.header-container a {
    padding: 0.6rem 1rem;
    flex-wrap: wrap;
    text-decoration: none;
}
.header-menubar ul{
    margin: 0%;
    padding: 0;
    list-style: none;
}
.header-menubar ul li {
    display: inline-block;
}
.header-menubar ul li a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
}
.header-menubar ul li a:hover {
    color: rgb(162, 162, 194);
}
main{
    background-color: ghostwhite;
    box-shadow: 0 0 0.5rem rgb(173, 188, 215);
    margin-top: 5rem; 
}
.descripcion-pcipal{
    width: auto;
    padding: 5rem;
    position: relative;
    border-top: 2,5rem;
    text-align: center;
    font-size: 1rem;
}
.grid-tratamientos{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px
    padding: 5rem;
    box-shadow: 0 0 0.5rem rgb(173, 188, 215);
    position: relative;
    top: 2.5rem;
}
.articulos {
    border: 10px;
    padding: 20px;
    font-size: 0,1 vw;
    display: flex;
    text-align: center;
    position: relative;
    width:fit-content
    line-height: 1.4vw;
}
.articulos h3 {
    font-size: 1rem;
    justify-content: center;
}
.articulos p {
    font-size: 0.75rem;
    justify-content: center
}
.img-trat{
     display: block;
     width: 150px;
     height: 150px;
     padding:0.15rem;
}

footer{
    background-color: rgb(92, 92, 106);
    box-shadow: 0 0 0.5rem rgb(173, 188, 215);
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}

